.main_section {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

.previsao {
  width: 250px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previsao .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.previsao .mail {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.relogio {
  width: 250px;
  height: 100px;

  display: grid;
  grid-template-columns: 0.5fr;

  flex-direction: column;

  justify-content: center;
  justify-self: center;
  align-items: center;
}

.relogio .hora {
  height: 100px;
  width: 250px;
  font-size: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
}

.relogio .hora h1 {
  height: 100%;
  font-size: 49pt;
  font-weight: bold;
  text-align: center;
}

.relogio .dia {
  height: fit-content;
  display: flex;
  font-size: 1rem;
  font-family: consolas;
  text-align: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.5);
}

p {
  margin: 0;
}
